name: EcoFlow MQTT Webhook Trigger

on:
  push:
    branches: [ main ]
  schedule:
    # Monday cada semana a las 00:00 UTC
    - cron: '0 0 * * 1'
  workflow_dispatch:  # Allow manual run from GitHub UI

jobs:
  run-ecoflow:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Write CA certificate to file
        run: |
          echo "${{ secrets.HIVEMQ_CA_PEM }}" > hivemq_ca.pem 
      - name: Run EcoFlow script
        env:
          API_KEY: ${{ secrets.API_KEY }}
          API_SECRET: ${{ secrets.API_SECRET }}
          DEVICE_SN: ${{ secrets.DEVICE_SN }}
          HIVEMQ_BROKER: ${{ secrets.HIVEMQ_BROKER }}
          HIVEMQ_PORT: ${{ secrets.HIVEMQ_PORT }}
          HIVEMQ_USER: ${{ secrets.HIVEMQ_USER }}
          HIVEMQ_PASS: ${{ secrets.HIVEMQ_PASS }}
          MAKE_URL: ${{ secrets.MAKE_URL }}
          TUYA_DEVICE_ID: ${{ secrets.TUYA_DEVICE_ID }}
          TUYA_LOCAL_KEY: ${{ secrets.TUYA_LOCAL_KEY }}
          TUYA_DEVICE_IP: ${{ secrets.TUYA_DEVICE_IP }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN}}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID}}
        run: |
          echo "Starting EcoFlow MQTT script at $(date)"
          python main.py
          echo "Script completed at $(date)"name: EcoFlow MQTT Webhook Trigger
